.App {
  text-align: center;
  background-color: #003D6B;
  min-height: 100vh;
  /* max-height: 100vh; */
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* height: 70vh; */
  box-sizing: border-box;
}

h4{
  margin: 0;
}

.App-link {
  color: #09d3ac;
}


.nav-bar{
  margin-left: 5px;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  height: 20vh;
  border-bottom: goldenrod 2px ridge;
}

.title-log{
  width: 100vw;
  display: flex;
}
.title-log>*{
  flex: 1 1 4px;
}
.title h2 {
  margin: 0px;
  text-align: left;
}

/* SIGN UP FORM CSS */


.sign-up{
 /* float: right; */
 border: dashed gold 2px;
 display: flex;
 flex-wrap: wrap;
 width:100vw;
 position: relative;
}

.sign-up p{
  display: flex;
  margin: 0px;
  position: relative;
}


.log-in-button{
  flex: 0 0 auto;
  float:left;
  padding:10px;
  border-radius: 10px;
  margin: 0
}

.sign-up-form{
  /* margin-right: 25%; */
  display:float;
  font-size: 12px;
}

/* LOGIN FORM CSS */

.login{
 border: dashed gold 2px;
 display: flex;
 width:100vw;
 position: relative;
}

.login p{
  display: flex;
  margin: 0px;
  position: relative;
}

.sign-up-button{
  padding:10px;
  top: 7%;
  right: 25%;
  border-radius: 10px;
}

.login-form{
  display:float;
  font-size: 12px;
}


/* DOCTOR LINKS */
.doctors{
  border: rgb(19, 18, 18) 1px dashed;
  clear: both;
  height:8vh;
  display: flex;
  flex-wrap: nowrap; 
  overflow: auto;
  padding: 0;
}

.doctor-name{
  flex: 0 0 auto;
  float:left;
  margin:0px 30px 0px -4px;
  
}



/* Doctor Container */
.doctor-container{
  border: 2px green solid;
  display: flex;
  flex-direction: row;
  height: 60vh;
}

.pull-to-open{
  border: 1px  solid orange;
  display: flexbox;
  flex-direction: row;
  width: 20vw
}

.pull-to-open img{
  width: 50%;
}

.pull-to-open img:active{
  transform: translateY(1px);
}


.doctor{
  border: 2px solid black;
  width: 65vw;
  
}

.doctor h1{
  margin: 0;
}

.doctor-image{
  position: center;
  width:30%;
}

.doctor-bio{
  border: 2px solid greenyellow;
  width: 21vw;
  font-size: 1rem;
}

.more-info{
  color: white;
}


/* Comment */
.comment-container{
  height: 20vh;
}
.comments{
  width: 75vw;
  margin: auto;
  border: 1px solid red;
  background: white;
  color: black;
  overflow: auto;
}

.comment{
  border: 1px rebeccapurple solid;
}

.comment-content{
  text-align: left;
  font-size: 20px;
  border: sandybrown 1px solid;
  margin: 0;
}
.comment-user{
  margin: 0;
  text-align: left;
  font-size: 10px;
}