
/* 
.App-logo {
  height: 40vmin;
} */

.App {
  text-align: center;
}

.App {
  background-color: #003D6B;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
  
}
h4{
  margin: 0;
}

.App-link {
  color: #09d3ac;
}


.nav-bar{
  width: 100vw;
  display: flexbox ;
  flex-wrap: wrap;
}

/*SIGN UP FORM CSS*/
.sign-up{
 display: flex;
 width:100vw;
 margin-right: 100px;
 position: relative;
}

.sign-up-header{
  display: flex;
  margin: 0px;
  position: relative;
}


.log-in-button{
  padding:10px;
  top: 7%;
  right: 25%;
}

.sign-up-form{
  display:float;
  font-size: 20px;
  
}
/* LOGIN FORM CSS */
.login{
 display: flex;
 width:100vw;
 margin-right: 100px;
 position: relative;
}

.login h4{
  margin: 0px;
}
.sign-up-button{
  padding:10px;
  top: 7%;
  right: 25%;
}

.login-form{
  padding: 0px;
  display: float;
  font-size: 20px;
}



.doctors{
  /* border: 3px black ridge; */
  clear: both;
  height:10vh;
  display: flex;
  flex-wrap: nowrap; 
  overflow: auto
  
}

.doctor-name{
  flex: 0 0 auto;
  float:left;
  margin:30px;
  margin-right: -4px
}

.doctor img{
  position: center;
  width:30%;
}

.comments{
  margin: 5px;
  border: 1px solid black;
  background: white;
  color: black
}

.comment-user{
  text-align: left;
  font-size: 10px;
}


.comment-content{
  text-align: left;
  font-size: 20px;
}

.more-info{
  color: white;
}

.doctor-container{
  display: flex;
  flex-direction: row;
}

.tardis{
  border: 2px solid black;
  width: 15vw;
}
.doctor{
  border: 2px solid black;
  width: 65vw;
}

.doctor-bio{
  border: 2px solid black;
  margin-right: 2rem;
  width: 21vw;
  font-size: 1rem;
}